@font-face {
    font-family: roboto-mono;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main-container {
    display: flex;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    background-image: url(images/leaves-background.avif);
    min-height: 100vh;
    font-family:ubuntu ;
}

header {
    margin-top: 15vh;
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    font-family: ubuntu;
    font-size: 18px;
    font-weight: 600;
    margin-top: 140px;
}

.form-container {
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    font-family: roboto-mono;
}

.form-container > .info-paragraph {
    font-family: ubuntu;
}

.odin-logo {
    max-width: 100px;
    max-height: 100px;
    vertical-align: middle;
}

button {
    width: fit-content;
    background-color: #596D48;
    color: white;
    padding: 10px;
    border: 1px solid #596D48;
    border-radius: 4px;
    margin: 20px;
    font-family: ubuntu;
    cursor: pointer;
}

.log-in {
    color: darkolivegreen;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.reference {
    color: white;
}

.form-row-container{
    display: flex;
    gap: 50px;
}

.form-col-container {
    display: flex;
    flex-direction: column;
}

p, label, input, button {
    margin-left: 50px;
}

label{
    font-weight: 400;
    font-size: 12px;
}

input {
    margin-bottom: 20px;
    border: 1.5px solid #D6D9DC;
    border-radius: 3px;
    outline: none;
}

.info-paragraph {
    margin-bottom: 30px;
}

.form-header {
    margin-top: 10px;
}

input:focus {
    border-color: #72A0C1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:invalid {
    border-color: #D2122E;
}

footer.git-reference{
    margin-left: 50px;
}

.git-logo {
    max-width: 30px;
    max-height: 30px;
    padding-left: 10px;
}

.git-logo:hover {
    max-width: 35px;
    max-height: 35px;
}
